<%# app/views/movies/show.html.erb %>
<h1><%= @movie.title %> (<%= @movie.release_year %>)</h1>

<%= image_tag @movie.poster_url, alt: @movie.title, class: "movie-poster-large" if @movie.poster_url.present? %>
<br>

<p><strong>Director/a:</strong> <%= @movie.director %></p>

<% if @movie.genres.any? %>
  <p><strong>Géneros:</strong> <%= @movie.genres.map(&:name).join(', ') %></p>
<% end %>

<p><strong>Descripción:</strong></p>
<p><%= simple_format(@movie.description) %></p> <%# simple_format ayuda a mantener saltos de línea %>

<hr>
<%= link_to "Volver al Catálogo", movies_path %>

