<!DOCTYPE html>
<html>
  <head>
    <title>FilmSonar</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h1>FilmSonar</h1>
      <nav>
        <ul>
          <li><%= link_to "Inicio", root_path %></li>
          <li><%= link_to "Catálogo", movies_path %></li>

          <% if user_signed_in? %>
            <li><%= link_to "For You", dashboard_path %></li>
            <li><%= link_to "Likes", my_favorites_path %></li>
            <li><%= link_to "Watched", my_watched_movies_path %></li> <%# <--- NUEVO %>
            <li><%= link_to "Watchlist", my_watchlist_path %></li>         <%# <--- NUEVO %>

            <% if current_user.role == 'manager' %>
              <li><%= link_to "Admin Películas", admin_root_path %></li>
            <% end %>

            <li style="margin-left: auto;"><span class="nav-user-email">Hola, <%= current_user.email %></span></li> <%# Empujado a la derecha %>
            <li><%= link_to "Editar Perfil", edit_user_registration_path %></li>
            <li>
              <%= button_to "Cerrar Sesión", destroy_user_session_path, method: :delete, class: "button-link-nav" %>
            </li>
          <% else %>
            <li style="margin-left: auto;"><%= link_to "Registrarse", new_user_registration_path %></li> <%# Empujado a la derecha %>
            <li><%= link_to "Iniciar Sesión", new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </header>

    <main>
      <%# Este bloque es para mostrar mensajes flash. Es seguro. %>
      <% flash.each do |type, msg| %>
        <div class="flash_<%= type %>">
          <%= msg %>
        </div>
      <% end %>

      <%= yield %>
    </main>

    <footer>
      <p>&copy; <%= Time.current.year %> FilmSonar. Todos los derechos reservados.</p>
    </footer>
  </body>
</html>