<!DOCTYPE html>
<html>
  <head>
    <title>FilmSonar</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h1>FilmSonar</h1>
      <nav>
        <ul>
          <li><%= link_to "Inicio", root_path %></li>
        </ul>
      </nav>
    </header>

    <main>
      <%# Este bloque es para mostrar mensajes flash. Es seguro. %>
      <% flash.each do |type, msg| %>
        <div class="flash_<%= type %>">
          <%= msg %>
        </div>
      <% end %>

      <%= yield %>
    </main>

    <footer>
      <p>&copy; <%= Time.current.year %> FilmSonar. Todos los derechos reservados.</p>
    </footer>
  </body>
</html>